# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.DropboxVirtualSync.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\jared\RiderProjects\DropboxVirtualSync\.idea\.idea.DropboxVirtualSync\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
